*.log
*.backindent
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.synctex
*.synctex.gz
*.pygtex
*.pgf-plot.gnuplot
*.dat
*.script
*.toc
*.ptc
*.fmt
*.bat
*.xdv
*.tkzfonct.gnuplot
*.tkzfonct.table
*.tkzparfct.gnuplot
*.tkzparfct.table
*.md5
*.blg
*.bbl
*.solution
*_contourtmp*
*build/
*build
